/* NORMALIZE CSS START /
/ Box Sizing Reset */
html {
  box-sizing: border-box;
  margin: 0;
 padding: 0;
 width: 100%;
 overflow-x: hidden;
}

:before, :after {
  box-sizing: inherit;
}

embed,
iframe,
object {
  max-width: 100%;
}

img,
video {
  max-width: 100%;
  height: auto;
}


:root {
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(-85deg, #201420, #000000);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  cursor: none; 
  overflow-x: hidden;
}

h1 {
  letter-spacing: 0.3rem;
  font-weight: 800;
  font-family: "kingred";
  text-transform: uppercase;
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: #e29edf;
}

.cursor-outline {
  width: 25px;
  height: 25px;
  border: 2px solid rgba(255, 255, 255, 0.575);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}


.home-titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center; 
  width: 100%;
  height: 90vh; 
  margin-top: 32vh; 
}


@media(min-width: 500px) {
  .home-titles {
    margin-top: 26vh; 

  }
  
}

.instagram-logo {
  filter: invert(100%);
  display: flex;
  justify-content: left;
  text-align: left;
  padding: 2rem;
}

.github-logo {
  filter: invert(100%);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

.social-icon {
  display: inline-block;
  filter: invert(100%);
  margin: 0 20px; 
  margin-bottom: 2rem;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 20px; 
}



 @font-face {
  font-family: 'kingred';
  src: url('fonts/fonts/Kingred.otf');
}

@font-face {
  font-family: 'milky';
  src: url('fonts/fonts/Milky.otf');
}

@font-face {
  font-family: 'cloud';
  src: url('fonts/fonts/Cloud.otf');
}

@font-face {
  font-family: 'aurabella';
  src: url('fonts/fonts/Aura-Bella.otf');
}

@font-face {
  font-family: 'japan';
  src: url('fonts/fonts/Japandi-Regular.otf');
}
 

@font-face {
  font-family: 'soul';
  src: url('fonts/fonts/Soul-Note.otf');
}

@font-face {
  font-family: 'cai';
  src: url('fonts/fonts/Cailyne.otf');
}

@font-face {
  font-family: 'indigo';
  src: url('fonts/fonts/Indigo.otf');
}

@font-face {
  font-family: 'mont';
  src: url('fonts/fonts/Montreal-Regular.ttf');
}


h2 {
  font-size: 1.2rem; 
  font-family: "DM Sans", sans-serif;
  letter-spacing: 1px; 
  font-weight: 200;
  text-align: center;

}

.home-titles h2 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.menu-nav-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.title-and-logo {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem;
}

.menu-button {
  position: absolute;
  top: 20px; 
  right: 52px; 
 
}

.copyright {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 5rem;
  font-size: 10px;
}

.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.1rem;
  margin-bottom: 2rem;
  font-size: 18px;
  
}

.email-container a {
  text-decoration: none;
  color: #e29edf;
}

.heart-image {
  filter: invert();
  display: inline-block;
  align-items: right;
  padding-left: 5px;
}

.nadia-logo {
  filter: invert(100%);
   
}

 .intro {
    font-size: 3.5rem;
    padding: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: "kingred";
    letter-spacing: 10px;
    color: #c9a4c7;
  }
 
 .main-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 0;
  font-family: "kingred";
  letter-spacing: 10px;
  color: #c9a4c7;;
 }


 @media(min-width: 500px) {
  .intro {
    font-size: 5.3rem;
      padding: 0;
      margin-bottom: 0;
      text-transform: uppercase;
    }
   
   .main-title {
    font-size: 4.2rem;
    text-transform: uppercase;
    margin-top: 0;
   }

 }

 @media(min-width: 1000px) {
  .intro {
    font-size: 7.3rem;
      padding: 0;
      margin-bottom: 0;
      text-transform: uppercase;
    }
   
   .main-title {
    font-size: 7rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1rem;
   }

  .home-titles {
    margin-top: 20vh;
  }

 }


 @media (min-width: 1800px) {
  .intro {
    font-size: 7rem;
    text-transform: uppercase;
    margin-top: 0; 
    margin-right: 67rem; 
    margin-bottom: 0;
    padding: 0;
  }

  .main-title {
    font-size: 7rem;
    text-transform: uppercase;
    margin-top: 0; 
    margin-right: 50rem; 
    margin-bottom: 0;
    padding: 0;
  }

  .home-titles h2 {
    margin-top: 1rem;
    margin-right: 75rem; 
    margin-bottom: 0; 
    padding-top: 1rem;
    font-size: 1.4rem;
  }


  .projects-section{
    font-size: 3rem;
    padding-bottom: 15rem;
  }  


  .projects-section h1{
    font-size: 3rem;
  }

  


}

.tabs-wrapper h3 {
  padding-left: 2rem;
  padding-right: 4rem;
  padding-bottom: 3rem;
  font-family: "DM Sans";
  text-transform: inherit;
  font-size: 1.8rem;
  text-align: left;
}


.about-section h3 {
  font-size: 1.8rem;
  font-family: "DM Sans";
  text-align: left;
  margin-left: 1rem;
}

.up {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-image: linear-gradient(-85deg, #201420, #3a1f36, #000000);
  filter: blur(90px);
  z-index: -5;
  opacity: 0.5;
  animation: floatDown 40s linear 1.5s infinite alternate;
  animation-fill-mode: forwards;
}


.down {
  position: absolute;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  right: 0;
  background-image: linear-gradient(80deg, #b8369b, #ffd1b2);
  filter: blur(90px);
  z-index: -5;
  opacity: 0.5;
  animation: floatUp 40s linear 1.5s infinite alternate;
  animation-fill-mode: forwards;
}


.left {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, #7e36b8, #b2beff);
  filter: blur(90px);
  z-index: -5;
  opacity: 0.5;
  animation: floatLeft 40s linear 1.5s infinite alternate;
  animation-fill-mode: forwards;
}

.right {
  position: absolute;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-image: linear-gradient(80deg, #6be8f8, #8597ff);
  filter: blur(90px);
  z-index: -5;
  opacity: 0.5;
  animation: floatRight 40s linear 1.5s infinite alternate;
  animation-fill-mode: forwards;
}

@keyframes floatDown {
  0% {
    top: -20%;
    left: 0;
  } 
  15% {
    top: 100px;
    left: 100px;
  } 
  30% {
    top: 300px;
    left: 200px;
  }
  60% {
    top: 500px;
    left: 300px;
  }
  80% {
    top: 600px;
    left: 400px;
  }
  100% {
    top: 500px;
    left: 300px;
  }
}

@keyframes floatUp {
  0% {
    bottom: -20%;
    right: 0;
  } 
  15% {
    bottom: 200px;
    right: 250px;
  } 
  30% {
    bottom: 400px;
    right: 300px;
  }
  60% {
    bottom: 600px;
    right: 400px;
  }
  80% {
    bottom: 700px;
    right: 500px;
  }
  100% {
    bottom: 800px;
    right: 700px;
  }
}

@keyframes floatLeft {
  0% {
    bottom: -20%;
    left: 0;
  } 
  15% {
    bottom: 50px;
    left: 70px;
  } 
  30% {
    bottom: 150px;
    left: 100px;
  }
  60% {
    bottom: 350px;
    left: 150px;
  }
  80% {
    bottom: 300px;
    left: 200px;
  }
  100% {
    bottom: 400px;
    left: 300px;
  }
}

@keyframes floatRight {
  0% {
    top: -20%;
    right: 0;
  } 
  15% {
    top: 60px;
    right: 100px;
  } 
  30% {
    top: 170px;
    right: 190px;
  }
  60% {
    top: 420px;
    right: 230px;
  }
  80% {
    top: 500px;
    right: 400px;
  }
  100% {
    top: 580px;
    right: 460px;
  }
}


.apod-image {
  opacity: 100%;
  position: absolute;
  top: 195%; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: -1;
}


.project-wrapper h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: right;
  padding: 1rem;
}

.projects-description h3{ 
  font-size: 1.9rem;
  text-align: left;
  padding-left: 2rem;
  margin-top: 3rem;
  font-family: "DM Sans";
}

.projects-description p {
  text-align: left;
  font-size: 1.2rem;
  padding: 2rem;
  padding-top: 0;
  margin: 0;
  padding-bottom: 0;
}



.projects-title {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  top: 7rem;
  font-weight: 600;
  font-family: "kingred";

}

.projects-section h1 {
  margin-left: 1.2rem;
  font-size: 2.8rem;
  display: flex;
  justify-content: left;
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
}

.nav-links {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 3rem;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 430px;
}

.project-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 0;
  opacity: 70%;
}

.projects-sub {
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  top: 21rem;
  padding: 0.6rem;
  border: none;
  color: #c9a4c7;
}

/* code via Nguyen Anh Tuan on codepen.io */
.style-2 {
  height: 30px;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  
  .mask {
    position: relative;
    padding: 0;
    height: 20px;
    top: 1rem;
    overflow: hidden;
    .link-container {
      transition: transform 0.4s ease;
    }

    .title {
      display: block;
      font-size: 17px;
      line-height: 20px;
      transition: transform 0.4s ease;
    }

    .link-title1 {
      transform-origin: right center;
      text-transform: uppercase;
    }

    .link-title2 {
      transform-origin: left center;
      transform: rotate(20deg);
      text-transform: uppercase;
    }
  }
  .link-icon {
    position: relative;
    width: 30px;
    height: 30px;
    background: #f8f8ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    top: 1rem;
    overflow: hidden;
    .icon {
      display: block;
      position: absolute;
      transition: transform 0.4s ease;
      &:nth-child(2) {
        transform: translate(-40px);
      }
    }
  }
  &:hover {
    .link-container {
      transform: translateY(-20px);
    }
    .link-title1 {
      transform: rotate(20deg);
    }
    .link-title2 {
      transform: rotate(0);
    }
    .icon:first-child {
      transform: translate(40px);
    }
    .icon:nth-child(2) {
      transform: translate(0px);
    }
  }
}


.front-end-title {
  font-size: 0.7rem;
}

.about-section h2 {
  text-align: left;
  padding: 1rem;
  font-size: 1.2rem;
  padding-top: 0;
  
}

.about-section {
  margin: 0;
}

.about-section h1 {
  margin-left: 1.2rem;
  font-size: 2.8rem;
  display: flex;
  justify-content: left;
  margin-top: 0;
  margin-bottom: 3rem;
}


.stack-h1 {
  font-size: 1.8rem;
}


.tech-stack-section h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}

.dropdown-toggle {
  background-color: #f1f1f1;
  color: #333;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px; 
  justify-content: center;
  display: flex;
}

.dropdown-content {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-content li {
  padding: 5px 0;
  color: #333;
}



.about-section p {
  font-size: 12px;
  display: flex;
  justify-content: left;
  margin: 0;
  margin-left: 1rem;
}


.tabs-content h2 {
  font-size: 1rem;
  text-transform: uppercase;
}

.show-content {
  display: block;
  margin: 1rem;
}

.show-content h2 {
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.tabs-content {
  display: none;
}

.ul-tabs {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 50%;
  justify-content: center;
  display: flex;
}

.ul-tabs li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0.8rem;
  padding-bottom: 0.35rem;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 20%;
  cursor: pointer;
  
}

@media (min-width: 400px) {
  .ul-tabs li {
    margin-right: 2rem;
  }
  
}

.lang-icon,
.coding-icon,
.design-icon,
.game-icon,
.star-icon {
  filter: invert(100%);
}

.skill-items {
  margin-right: 12px;
  margin-top: 2rem;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  border: solid 2px #e29edf;
  padding: 1rem;
  border-radius: 1.5rem;
}


.highlighted-tab {
    color: black; 
    transform: scale(1.1);
    transition: color 0.3s ease-out, transform 0.5s ease-out;
    box-shadow: 0 0 10px rgba(245, 172, 233, 0.3); 
    animation: glow 1s infinite alternate; 
}

/* Adjust the animation to apply to both hover and active states */
.ul-tabs li:hover,
.ul-tabs li.active {
    animation: glow 1s infinite alternate; 
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(255, 108, 231, 0.3);
    }
    100% {
        box-shadow: 0 0 15px rgba(255, 139, 236, 0.774);
    }
}


@media (min-width: 400px) {

.list-render {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.show-content{
  display: block;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

}  

@media (min-width: 700px) {
  .about-section,
  .tech-stack-section h3,
  .projects-section {
    padding: 2rem;
  }

  .projects-section h1 {
    margin-left: 0;
  }

  .projects-description h3,
  .projects-description p {
    padding-left: 1rem;
  }
}

@media (min-width: 900px) {
  .about-section,
  .contact-section{
    padding: 4rem;
    margin-bottom: 0;
    margin-top: 6rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .projects-section {
    padding: 4rem;
    padding-bottom: 5rem;
    padding-top: 0;
    margin-left: 6rem;
    margin-right: 3rem;

  }

  .about-section {
    padding-bottom: 0;
  }

  .projects-section h1 {
    margin-top: 5rem;
  }

  .project-image {
    display: block;
    width: 900px;
  }

  .tabs-wrapper h3 {
    font-size: 1.8rem;
    margin-left: 5rem;
    padding-left: 5rem;
    padding-right: 0;
  }
  
  
}

@media(min-width: 1700px) {
  .about-section,
  .projects-section {
    padding:15rem;
    margin-bottom: 0;
  }

  .projects-section {
    padding-top: 0;
  }

  .tabs-wrapper h3 {
    font-size: 1.8rem;
    margin-left: 5rem;
    padding-left: 16.2rem;
    padding-right: 0;
  }
  
}


@media (min-width: 1300px) {

  .home-titles {
    margin-top: 10rem;
  }


  .about-section {
    padding-bottom: 2rem;
    padding-top: 0;
  }

  .about-section h1 {
    font-size: 3rem;
  }

  .about-section h3 {
    font-size: 2rem;
  }

  .about-section h2 {
    font-size: 1.1rem;
    padding: 0;
    padding-left: 1rem;
  }

  .column-tabs {
    padding-top: 0;
  }


}


.tabs-wrapper {
  padding: 10px;
  display: block;
}

.contact-section h1 {
  margin-top: 10rem;
  text-transform: inherit;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.4rem;
}

.contact-section h3 {
  font-size: 1.7rem;
  text-align: left;
  margin-top: 3rem;
}

.contact-section {
  padding: 2rem;
}

.contact-section p {
  margin-top: 3rem;
  font-size: 1.2rem;
}


/* Media query for smaller screens */
@media (max-width: 700px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 7px;
  }

  h2 {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .about-section {
    padding: 1rem;
  }
}

.header-content {
  height: 80rem;
  position: relative;
  overflow: hidden;
}


